.home-about-container {
  background: #f4f4f4;
  color: #808080;
}

.home-about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
}

.home-about-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 0;
  overflow-x: hidden;
}

.home-about-box h2 {
  color: #174256;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

.home-about-btn-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.home-about-img-wrap {
  height: 100%;
  width: 100%;
}

.home-about-img-wrap img {
  width: 100%;
  padding-right: 2rem;
}

@media screen and (max-width: 968px) {
  .home-about-wrapper {
    flex-wrap: wrap;
  }

  .box1 {
    order: 2;
  }

  .box2 {
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .home-about-wrapper {
    padding: 5rem 3rem;
  }
}
