.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Banner */
.home-banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../assets/kentro-f-02.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.home-banner-heading h1 {
  font-size: 5.8rem;
  letter-spacing: 1.5px;
}

.home-banner-text p {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  max-width: 70rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.2;
  margin: 0 2.5rem;
}

.home-btn-wrapper {
  margin-top: 3rem;
}

/* About */
.home-about-container {
  background: #fff;
  color: #808080;
}

.home-about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
}

.home-about-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 0;
  overflow-x: hidden;
}

.home-about-box h2 {
  color: #174256;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

.home-about-btn-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.home-about-img-wrap {
  height: 100%;
  width: 100%;
}

.home-about-img-wrap img {
  width: 100%;
  padding-left: 1rem;
}

/* Team */
.team-container {
  background: #f4f4f4;
  width: 100%;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin-top: 2rem;
}

.team-container h2 {
  color: #174256;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

.team-info {
  height: 100%;
  width: 100%;
  text-align: center;
}

.team-info img {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 15px rgba(23, 66, 86, 0.4);
  transform: scale(1.01);
  transition: all 0.3s;
}

.team-info img:hover {
  transform: scale(1.08);
}

.team-info h4 {
  color: #808080;
  margin: 1rem 0 -0.5rem 0;
}

.team-info p {
  color: #808080;
}

.team-btn-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

/* Actions */
.actions-container {
  background: #fff;
  width: 100%;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions-container h2 {
  color: #174256;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

.actions-details {
  color: #808080;
}

.actions-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 42rem;
  height: 27rem;
  margin: 3rem;
  padding: 1.5rem;
  box-shadow: 2px 3px 10px rgba(23, 66, 86, 0.5);
  background: #fff;
  color: #808080;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff5e4a;
  color: #fff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  /* background: #174256; */
}

.card:hover:before,
.card:focus:before,
.card:active:before {
  transform: scaleX(1);
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
}

.card-content h4 {
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  /* color: #174256; */
  margin-bottom: 1.5rem;
}

.actions-btn-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 968px) {
  .home-banner-heading h1 {
    font-size: 5rem;
  }

  .home-banner-text p {
    font-size: 2.1rem;
  }

  .home-about-wrapper {
    flex-wrap: wrap;
  }

  .team-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .actions-box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .home-about-wrapper {
    padding: 5rem 3rem;
  }

  .team-container {
    padding: 5rem 3rem;
  }

  .team-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .actions-container {
    padding: 5rem 3rem;
    max-width: 180rem;
  }

  .card {
    width: 50rem;
    height: 35rem;
  }
}

@media screen and (max-width: 321px) {
  .card {
    width: 60rem;
    height: 55rem;
  }
}
