/* Banner
.home-banner {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../../assets/kentro-f-02.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.home-banner-heading h1 {
  font-size: 5.8rem;
  letter-spacing: 1.5px;
}

.home-banner-text p {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  max-width: 70rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.2;
  margin: 0 2.5rem;
}

.home-btn-wrapper {
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .home-banner-heading h1 {
    font-size: 5rem;
  }

  .home-banner-text p {
    font-size: 2.1rem;
  }
} */

.home-banner-container {
  background: #fff;
  color: #808080;
  min-height: calc(100vh - 8rem);
}

.home-banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
}

.home-banner-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 0;
  overflow-x: hidden;
}

.home-banner-box h1 {
  color: #174256;
  font-size: 5.8rem;
  letter-spacing: 1.5px;
}

.home-banner-box p {
  font-size: 2.6rem;
}

.home-banner-btn-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-banner-img {
  height: 100%;
  width: 100%;
}

.home-banner-img img {
  width: 100%;
  padding-left: 1rem;
}

@media screen and (max-width: 968px) {
  .home-banner-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .home-banner-wrapper {
    padding: 5rem 3rem;
  }

  .home-banner-box h1 {
    font-size: 5rem;
  }
}
