.donors-container {
  color: #808080;
  padding: 5rem 3rem;
}

.donors-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  margin: 3rem auto;
  max-width: 150rem;
}

.donors-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 3rem;
  overflow-x: hidden;
}

.donors-box:first-child {
  margin-bottom: 0;
}

.donors-box h2 {
  color: #174256;
  font-size: 3rem;
  text-align: center;
  /* margin-bottom: 2rem; */
}

.donors-box h2::after {
  display: block;
  text-align: center;
  height: 2px;
  background-color: #174256;
  content: ' ';
  width: 8rem;
  margin: 1rem 0 3rem 0;
  margin: 1rem auto;
}

.donors-img-wrap {
  height: 100%;
  width: 100%;
}

.donors-img-wrap img {
  width: 100%;
  padding-right: 2rem;
}

.donors-box h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.desmos,
.tima {
  box-shadow: 0 0 3px rgba(23, 66, 86, 0.5);
}

.donors-heading {
  padding: 0 0 3rem 0;
  margin: 0;
}
