.main-nav {
  background: #4d273f;
  box-shadow: 0px 1px 5px rgba(77, 39, 63, 0.4);
  position: sticky;
  top: 0;
  left: 0;
}

.main-nav::after {
  content: '';
  clear: both;
  display: table;
}

.main-nav .logo {
  float: left;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 7rem;
  padding-left: 4rem;
}

.main-nav ul {
  float: right;
  list-style: none;
  margin-right: 4rem;
  position: relative;
}

.main-nav ul li {
  /* float: left; */
  display: inline-block;
  background: #4d273f;
  margin: 0 0.5rem;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 7rem;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s;
}

.main-nav ul li a:hover {
  color: #c8a294;
  /* border-radius: 5px;
  box-shadow: 0 0 5px #c8a294, 0 0 5px #cc9885; */
}

.main-nav ul ul {
  position: absolute;
  top: 9rem;
  border-top: 1px solid #fff;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s;
}

.main-nav ul li:hover > ul {
  top: 7rem;
  opacity: 1;
  visibility: visible;
}

.main-nav ul ul li {
  position: relative;
  margin: 0;
  width: 19rem;
  float: none;
  display: list-item;
  border-bottom: 1px solid #fff;
}

.main-nav ul ul li a {
  transition: all 0.3s;
}

.main-nav ul ul li a:hover {
  color: #c8a294;
  box-shadow: none;
}

.show,
.icon,
input {
  display: none;
}

@media all and (max-width: 1000px) {
  .main-nav ul {
    margin-right: 0;
    float: left;
  }

  .main-nav .logo {
    padding-left: 4rem;
    width: 100%;
  }

  .main-nav ul li,
  .main-nav ul ul li {
    display: block;
    width: 100%;
  }

  .main-nav ul ul {
    top: 7rem;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .main-nav ul ul li {
    border-bottom: 0;
  }

  .main-nav ul ul a {
    padding-left: 5rem;
  }

  .show {
    display: block;
    color: #fff;
    padding: 0 2rem;
    line-height: 7rem;
    cursor: pointer;
  }

  .show:hover {
    color: #c8a294;
  }

  .icon {
    display: block;
    color: #fff;
    position: absolute;
    right: 4rem;
    line-height: 7rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .show + a,
  ul {
    display: none;
  }

  [id^='btn']:checked + ul {
    display: block;
  }
}
