/*
Colors:
nav background: #4d273f
nav links: #4d273f
nav links hover: #c8a294
nav links hover in mobile: #3d1f32
submenu: #5e3c52
submenu hover: #705265
*/

.nav {
  background: #fff;
  /* border-bottom: 1px solid #ff5e4a; */
  box-shadow: 0 0 2px rgba(255, 94, 74, 0.7);
  height: 8rem;
  /* margin-top: -8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  z-index: 1;
  width: 100%;
  padding: 0 2.5rem;
  /* max-width: 150rem; */
}

.nav-logo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

.nav-logo img {
  width: 7rem;
  height: 7rem;
}

.mobile-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  /* margin-right: -2.2rem; */
}

.nav-item {
  height: 8rem;
  position: relative;
}

.nav-links {
  color: #ff5e4a;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.6rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover,
.nav-links:active {
  color: #ff3117;
  transition: all 0.3s;
}

.dropdown {
  background: #fff;
  white-space: nowrap;
  border: 1px solid rgba(255, 94, 74, 0.7);
  border-top: none;
  outline: none;
  position: absolute;
  top: 8rem;
  left: 0;
  list-style: none;
}

.dropdown-item {
  height: 6rem;
}

.dropdown-links {
  color: #ff5e4a;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.6rem;
  height: 100%;
  width: 19rem;
  cursor: pointer;
  border-top: 1px solid #ff5e4a;
}

.dropdown-links:hover,
.dropdown-links:active {
  color: #fff;
  background: #ff5e4a;
  transition: all 0.3s;
}

@media screen and (max-width: 968px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 2.9rem;
    color: #ff5e4a;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }
}
