.donors-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  margin: 5rem auto;
  max-width: 150rem;
  box-shadow: 0 0 3px rgba(23, 66, 86, 0.5);
}

.donors-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 3rem;
  overflow-x: hidden;
}

.donors-box:first-child {
  margin-bottom: 0;
}

.donors-img-wrap {
  height: 100%;
  width: 100%;
}

.donors-img-wrap img {
  width: 100%;
  padding-right: 2rem;
}

.donors-box h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 968px) {
  .donors-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .donors-box {
    /* padding: 0 1.5rem 0 3rem; */
    padding: 0 1rem;
  }

  .donors-img-wrap img {
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .donors-wrapper {
    padding: 3rem 1rem;
  }
}
