.sidebar-container {
  position: fixed;
  z-index: 999;
  font-size: 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: auto;
  background: #fff;
  border-left: 1px solid #ff5e4a;
  display: grid;
  align-items: center;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  right: -100%;
}

.sidebar-container.active {
  opacity: 1;
  right: 0;
}

.icon {
  position: fixed;
  top: 1.9rem;
  right: 2.4rem;
  background: transparent;
  font-size: 2.9rem;
  cursor: pointer;
  outline: none;
  color: #ff5e4a;
}

.sidebar-wrapper {
  color: #fff;
}

.sidebar-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}

.sidebar-item {
  position: relative;
}

.sidebar-link {
  color: #ff5e4a;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0rem 2.6rem;
  /* height: 100%; */
  height: 4rem;
  cursor: pointer;
  position: relative;
}

.sidebar-link:hover,
.sidebar-link:active {
  color: #ff3117;
  transition: all 0.3s;
}

.sidebar-dropdown {
  width: 100%;
  list-style: none;
  margin-left: 3rem;
}

.sidebar-dropdown-item {
  height: 3.5rem;
}

.sidebar-dropdown-links {
  color: #ff5e4a;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.6rem;
  height: 100%;
  width: 19rem;
  cursor: pointer;
}

.sidebar-dropdown-links:hover,
.sidebar-dropdown-links:active {
  color: #ff3117;
  transition: all 0.3s;
}

@media screen and (max-width: 480px) {
  .sidebar-container {
    width: 100%;
  }
}
