.testimonials {
  background: #f4f4f4;
  width: 100%;
  padding: 7rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
  /* min-height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials h2 {
  color: #174256;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
}

.carousel.carousel-slider .slider-wrapper {
  width: 65%;
}

.carousel.carousel-slider .control-arrow.control-prev {
  left: 17.5%;
}

.carousel.carousel-slider .control-arrow.control-next {
  right: 17.5%;
}

button.control-arrow.control-prev {
  left: 50%;
}

.carousel .control-prev.control-arrow {
  left: 50%;
}

.carousel-status {
  display: none;
}

.main-slide .image img {
  filter: brightness(30%);
}

.main-slide .image {
  position: relative;
}

.main-slide .image .quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.main-slide .image .quote cite {
  font-size: 28px;
  line-height: 1.1;
}

.main-slide .image .quote p {
  margin-top: 10px;
  font-size: 18px;
}

@media screen and (max-width: 968px) {
  .carousel.carousel-slider .slider-wrapper {
    width: 80%;
  }

  .carousel.carousel-slider .control-arrow.control-prev {
    left: 10%;
  }

  .carousel.carousel-slider .control-arrow.control-next {
    right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 7rem 2rem;
  }

  .carousel.carousel-slider .slider-wrapper {
    width: 100%;
  }

  .carousel.carousel-slider .control-arrow.control-prev {
    left: 0;
  }

  .carousel.carousel-slider .control-arrow.control-next {
    right: 0;
  }

  .main-slide .image .quote cite {
    font-size: 20px;
  }

  .main-slide .image .quote p {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .testimonials {
    padding: 5rem 1rem;
  }

  .main-slide .image .quote cite {
    font-size: 16px;
  }

  .main-slide .image .quote p {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .main-slide .image .quote cite {
    font-size: 15px;
  }

  .main-slide .image .quote p {
    font-size: 13px;
  }
}
