.actions-wrapper {
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
}

.actions-wrapper h2 {
  color: #174256;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.actions-wrapper h2::after {
  display: block;
  height: 2px;
  background-color: #174256;
  content: ' ';
  width: 8rem;
  margin: 1rem 0 3rem 0;
}

.actions-wrapper ul {
  position: relative;
  list-style: none;
}

.actions-wrapper ul::before {
  content: '';
  display: inline-block;
  width: 2px;
  background: #ff5e4a;
  position: absolute;
  left: 3px;
  top: 5px;
  height: calc(100% - 1rem);
}

.actions-wrapper li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 2.5rem;
}

.actions-wrapper li::before {
  content: '';
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: #ff5e4a;
  position: absolute;
  left: -2px;
  top: 5px;
  border-radius: 10px;
}

.actions-wrapper a {
  color: #ff5e4a;
  text-decoration: none;
  transition: all 0.3s;
}

.actions-wrapper a:hover {
  color: #174256;
}
