.who-we-are-container {
  color: #808080;
}

.who-we-are-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  margin: 0 auto;
  max-width: 150rem;
}

.who-we-are-box {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0 3rem;
  overflow-x: hidden;
}

.who-we-are-img-wrap {
  height: 100%;
  width: 100%;
}

.who-we-are-img-wrap img {
  width: 100%;
  padding-left: 2rem;
}

.who-we-are-box h2 {
  color: #174256;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.who-we-are-box h2::after {
  display: block;
  height: 2px;
  background-color: #174256;
  content: ' ';
  width: 8rem;
  margin: 1rem 0 3rem 0;
}

.who-we-are-box h3 {
  color: #174256;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.who-we-are-box ul {
  list-style: square;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 968px) {
  .who-we-are-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .who-we-are-box {
    padding: 0 2.5rem;
  }

  .who-we-are-img-wrap img {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .who-we-are-wrapper {
    padding: 3rem 1rem;
  }

  .who-we-are-box {
    padding: 0 1rem 0 2rem;
  }
}
